name: Deploy Test

on:
  pull_request:
    branches:
      - main

concurrency:
  group: divio-test-environment
  cancel-in-progress: true

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Point Divio Test environment to PR branch
<<<<<<< develop
        run: curl -X PATCH --data 'branch=${{ github.head_ref }}' --header 'Authorization: Token ${{ secrets.API_TOKEN }}' https://api.divio.com/apps/v3/environments/${{ secrets.TEST_ENVIRONMENT_UUID }}/"
=======
        run: "curl -X PATCH --data 'branch=${{ github.head_ref }}' --header 'Authorization: Token ${{ secrets.API_TOKEN }}' https://api.divio.com/apps/v3/environments/${{ secrets.TEST_ENVIRONMENT_UUID }}/
>>>>>>> main

      - name: Deploy test app
        run: "curl -X POST --data 'environment=${{ secrets.TEST_ENVIRONMENT_UUID }}' --header 'Authorization: Token ${{ secrets.API_TOKEN }}' https://api.divio.com/apps/v3/deployments/"
